<!DOCTYPE html>
<html style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  ">

<head>
  <meta charset="utf-8" />
</head>

<body style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    ">
  <table border="0" cellpadding="0" cellspacing="0" class="email-mockup" style="
        border-collapse: separate;
        padding: 45px 32px;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        position: relative;
        background-color: #ffffff;
        width: 100%;
      ">
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <table border="0" cellpadding="0" cellspacing="0" class="frame" style="
              border-collapse: separate;
              padding: 45px;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              max-width: 900px;
              position: relative;
              width: 100%;
              background-color: #f5f5f5;
              border-radius: 14px;
              text-align: left;
            ">
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="dear-recipient-s" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    margin-top: -1px;
                    font-family: 'Inter-Medium', Helvetica;
                    font-weight: 500;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Dear [Recipient’s Name],<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />I hope this email finds you
                well. My name is Ethan Chen, and I am a UI/UX Designer at PickTrip, an
                innovative travel platform dedicated to enhancing the way people plan and experience their trips.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />We have been following
                [Recipient’s Company Name]’s impressive work in [Industry/Field], and we see
                a strong potential for collaboration between our organizations. Given our shared commitment to [common
                goal, e.g., improving travel experiences, enhancing digital tourism, etc.], we believe that a
                partnership could bring valuable opportunities for both parties.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Proposed Collaboration
                Opportunities:<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Integrated
                Travel Solutions – We aim to integrate your [product/service] into the PickTrip ecosystem, offering
                seamless travel experiences to our users.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Marketing &amp; Co-Branding –
                Through co-branded campaigns and cross-promotions, we can expand our
                reach and engage a wider audience.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Exclusive Travel Offers – By
                working together, we can create exclusive travel packages, discounts,
                or unique experiences for our users.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />We would love the opportunity to
                discuss this further and explore how we can create a strategic
                partnership. Please let us know a convenient time for a meeting or call. We are happy to adapt to your
                schedule.<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Looking forward to
                your thoughts and the possibility of working together.<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Best regards,
              </p>
            </td>
          </tr>
          <tr style="height: 56px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <table border="0" cellpadding="0" cellspacing="0" class="div" style="
                    border-collapse: separate;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    text-align: left;
                    height: 0px;
                  ">
                <tr style="vertical-align: bottom">
                  <td style="position: relative; width: 273px">
                    <p class="ethan-chen-UI-UX" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 16px;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          width: 273px;
                          margin-top: -1px;
                          font-family: 'Inter-Bold', Helvetica;
                          font-weight: 400;
                          color: #000000;
                          letter-spacing: 0;
                          line-height: normal;
                          text-align: left;
                        ">
                      <span class="text-wrapper" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            font-weight: 700;
                          ">Ethan Chen<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /></span>
                      <span class="span" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            font-family: 'Inter-Medium', Helvetica;
                            font-weight: 500;
                          ">UI/UX Designer</span>
                      <span class="text-wrapper-2" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            font-family: 'Inter-Medium', Helvetica;
                            font-weight: 500;
                            text-decoration: underline;
                          ">
                        <a href="mailto:shiro@picktrip.com" target="_blank" style="
                          color: inherit;
                        ">shiro@picktrip.com</a></span>
                    </p>
                  </td>
                  <td style="width: 100%"></td>
                  <td align="center" style="position: relative">
                    <div class="frame" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            width: 112px;
                            height: 30.1px;
                            text-align: left;
                          ">
                      <a href="https://picktrip.com" target="_blank">
                        <img class="picktrip-logo-light" src="https://images.picktrip.com/35127f3f3be60c83/small" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: absolute;
                          width: 112px;
                          height: 30.1px;
                        " />
                      </a>
                    </div>
                  </td>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height: 100%"></tr>
  </table>
  </td>
  </tr>
  <tr style="height: 100%"></tr>
  </table>
</body>

</html>