<!DOCTYPE html>
<html style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  ">

<head>
  <meta charset="utf-8" />
</head>

<body style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    ">
  <table border="0" cellpadding="0" cellspacing="0" class="email-mockup" style="
        border-collapse: separate;
        padding: 45px 32px;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        position: relative;
        background-color: #ffffff;
        width: 100%;
      ">
    <tr>
      <td align="center" style="position: relative; width: 160px; height: 42.3px">
        <div class="frame" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              width: 160px;
              height: 42.3px;
              text-align: left;
            ">
          <a href="https://picktrip.com" target="_blank">
            <img class="picktrip-logo-light" src="https://images.picktrip.com/35127f3f3be60c83/small" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
            " />
          </a>
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%; height: 461.7px">
        <div class="overlap-group-wrapper" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              max-width: 900px;
              width: 100%;
              height: 461.7px;
              border-radius: 24px;
              overflow: hidden;
              background-size: 100% 100%;
              text-align: left;
              background-image: url(https://images.picktrip.com/628cfcd78cfe0654/extralarge);
            ">
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <table border="0" cellpadding="0" cellspacing="0" class="div" style="
              border-collapse: separate;
              padding: 0px 20px;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              max-width: 860px;
              position: relative;
              width: 100%;
              text-align: left;
            ">
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="text-wrapper" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 24px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    margin-top: -1px;
                    font-family: 'Inter-Bold', Helvetica;
                    font-weight: 700;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Discover the Best Winter City Destinations! ❄️🏙️
              </p>
            </td>
          </tr>
          <tr style="height: 32px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="cozy-streets-snowy" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-Medium', Helvetica;
                    font-weight: 400;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                <span class="span" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      font-family: 'Inter-MediumItalic', Helvetica;
                      font-weight: 500;
                      font-style: italic;
                    ">Cozy Streets, Snowy Skylines, and Unforgettable Adventures Await!<br
                    style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /></span>
                <span class="text-wrapper-2" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      font-weight: 500;
                    ">Winter is the perfect season to explore enchanting cities covered in snow, sip on warm drinks in
                  charming cafés, and immerse yourself in festive lights and local traditions. Whether you're looking
                  for a romantic getaway, a cultural experience, or a fun adventure with friends, we have the perfect
                  city escape for you!</span>
              </p>
            </td>
          </tr>
          <tr style="height: 32px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="p" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-Medium', Helvetica;
                    font-weight: 500;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                ✨ Top Winter City Picks:
              </p>
            </td>
          </tr>
          <tr style="height: 32px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%; height: 309.7px">
              <div class="group-2" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    width: 100%;
                    height: 309.7px;
                    margin-right: -2px;
                    text-align: left;
                  ">
                <div class="group-wrapper" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 820px;
                      height: 249px;
                      top: 0;
                      left: 0;
                      background-size: cover;
                      background-position: 50% 50%;
                      background-image: url(https://images.picktrip.com/ea7da1ac8bf06196/extralarge);
                    ">
                  <div class="div-wrapper" style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        position: relative;
                        width: 233px;
                        height: 24px;
                        top: 199px;
                        left: 296px;
                      ">
                    <div class="group-3" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          position: relative;
                          width: 235px;
                          height: 24px;
                        ">
                      <div class="text-wrapper-3" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: absolute;
                            width: 233px;
                            top: 0;
                            left: 0;
                            font-family: 'Inter-BoldItalic', Helvetica;
                            font-weight: 700;
                            font-style: italic;
                            color: #ffffff;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0;
                            line-height: 24px;
                          ">
                        Sapporo, Japan
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-wrapper-4" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 744px;
                      top: 262px;
                      left: 46px;
                      font-family: 'Inter-MediumItalic', Helvetica;
                      font-weight: 500;
                      font-style: italic;
                      color: #000000;
                      font-size: 16px;
                      letter-spacing: 0;
                      line-height: 24px;
                    ">
                  ❄️ Experience a winter wonderland at the Sapporo Snow Festival, enjoy fresh seafood at Nijo Market,
                  and take in the snowy landscapes from Mount Moiwa.
                </p>
              </div>
            </td>
          </tr>
          <tr style="height: 32px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%; height: 309.7px">
              <div class="group-2" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    width: 100%;
                    height: 309.7px;
                    margin-right: -2px;
                    text-align: left;
                  ">
                <div class="overlap-group-2" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 820px;
                      height: 249px;
                      top: 0;
                      left: 0;
                      background-size: cover;
                      background-position: 50% 50%;
                      background-image: url(https://images.picktrip.com/a0df61b921de2028/extralarge);
                    ">
                  <div class="group-4" style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        width: 355px;
                        top: 197px;
                        left: 233px;
                        position: relative;
                        height: 24px;
                      ">
                    <div class="group-5" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          width: 357px;
                          position: relative;
                          height: 24px;
                        ">
                      <div class="text-wrapper-5" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: absolute;
                            width: 355px;
                            top: 0;
                            left: 0;
                            font-family: 'Inter-BoldItalic', Helvetica;
                            font-weight: 700;
                            font-style: italic;
                            color: #ffffff;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0;
                            line-height: 24px;
                          ">
                        Prague, Czech Republic
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-wrapper-4" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 744px;
                      top: 262px;
                      left: 46px;
                      font-family: 'Inter-MediumItalic', Helvetica;
                      font-weight: 500;
                      font-style: italic;
                      color: #000000;
                      font-size: 16px;
                      letter-spacing: 0;
                      line-height: 24px;
                    ">
                  🎄 Stroll through charming Christmas markets, admire the fairy-tale architecture covered in snow,
                  and warm up with a cup of mulled wine by the Astronomical Clock.
                </p>
              </div>
            </td>
          </tr>
          <tr style="height: 32px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%; height: 309.7px">
              <div class="group-2" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    width: 100%;
                    height: 309.7px;
                    margin-right: -2px;
                    text-align: left;
                  ">
                <div class="overlap" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 820px;
                      height: 249px;
                      top: 0;
                      left: 0;
                      background-size: cover;
                      background-position: 50% 50%;
                      background-image: url(https://images.picktrip.com/5db7eb6a03cb1e9e/extralarge);
                    ">
                  <div class="group-6" style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        width: 315px;
                        top: 201px;
                        left: 254px;
                        position: relative;
                        height: 24px;
                      ">
                    <div class="group-7" style="
                          margin: 0;
                          padding: 0;
                          border: 0;
                          font: inherit;
                          font-size: 100%;
                          -webkit-font-smoothing: antialiased;
                          box-sizing: border-box;
                          width: 317px;
                          position: relative;
                          height: 24px;
                        ">
                      <div class="text-wrapper-6" style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: absolute;
                            width: 315px;
                            top: 0;
                            left: 0;
                            font-family: 'Inter-BoldItalic', Helvetica;
                            font-weight: 700;
                            font-style: italic;
                            color: #ffffff;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0;
                            line-height: 24px;
                          ">
                        Zermatt, Switzerland
                      </div>
                    </div>
                  </div>
                </div>
                <p class="text-wrapper-4" style="
                      margin: 0;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: absolute;
                      width: 744px;
                      top: 262px;
                      left: 46px;
                      font-family: 'Inter-MediumItalic', Helvetica;
                      font-weight: 500;
                      font-style: italic;
                      color: #000000;
                      font-size: 16px;
                      letter-spacing: 0;
                      line-height: 24px;
                    ">
                  🏔 Ski beneath the breathtaking Matterhorn, take a scenic train ride on the Glacier Express, and
                  indulge in world-class Swiss fondue.
                </p>
              </div>
            </td>
          </tr>
          <tr style="height: 100%"></tr>
        </table>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <table border="0" cellpadding="0" cellspacing="0" class="frame-2" style="
              border-collapse: separate;
              padding: 45px;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              max-width: 900px;
              position: relative;
              width: 100%;
              background-color: #f5f5f5;
              border-radius: 14px;
              text-align: left;
            ">
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="text-wrapper" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 24px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    margin-top: -1px;
                    font-family: 'Inter-Bold', Helvetica;
                    font-weight: 700;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Plan your perfect winter trip with PickTrip!
              </p>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="personalized" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-MediumItalic', Helvetica;
                    font-weight: 500;
                    font-style: italic;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Personalized itinerary recommendations<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Real-time travel assistance<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Hidden gems and must-visit
                spots<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />📍 Don’t wait – winter
                adventures are calling! Book your trip now and make the most of this magical
                season.
              </p>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <a href="https://picktrip.com" target="_blank" style="
                text-decoration: none;
              ">
                <table border="0" cellpadding="0" cellspacing="0" class="button" style="
                  border-collapse: separate;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  padding: 16px 28px;
                  position: relative;
                  width: 100%;
                  background-color: #008bf6;
                  border-radius: 12px;
                  box-shadow: 4px 4px 15px #10182826;
                  text-align: left;
                  height: 0px;
                ">
                  <tr style="vertical-align: middle">
                    <td style="padding: 0px; width: 50%"></td>
                    <td align="center" style="position: relative; width: fit-content">
                      <div class="save-project" style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 16px;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        position: relative;
                        width: fit-content;
                        margin-top: -1px;
                        font-family: 'Inter-Medium', Helvetica;
                        font-weight: 500;
                        color: #ffffff;
                        letter-spacing: 0;
                        line-height: 24px;
                        white-space: nowrap;
                        text-align: left;
                      ">
                        Plan Your Trip Now
                      </div>
                    </td>
                    <td style="padding: 0px; width: 50%"></td>
                  </tr>
                </table>
              </a>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="stay-warm-travel" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-MediumItalic', Helvetica;
                    font-weight: 500;
                    font-style: italic;
                    color: #878787;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Stay warm, travel smart, and make unforgettable memories!<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /><br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />Best,<br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />The PickTrip Team
              </p>
            </td>
          </tr>
          <tr style="height: 100%"></tr>
        </table>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: fit-content">
        <p class="text-wrapper-7" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 16px;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              width: fit-content;
              font-family: 'Inter-MediumItalic', Helvetica;
              font-weight: 500;
              font-style: italic;
              color: #878787;
              text-align: center;
              letter-spacing: 0;
              line-height: normal;
              white-space: nowrap;
            ">
          This is an automated message. Please do not reply.
        </p>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 164px; height: 32px">
        <div class="group" style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: relative;
          width: 164px;
          height: 32px;
          text-align: left;
        ">
          <a href="https://picktrip.com" target="_blank">
            <img class="linkedin-logo" src="https://images.picktrip.com/d829fe460175593e/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 0;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="instagram-logo" src="https://images.picktrip.com/a3f1122965c9de3f/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 44px;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="facebook-logo" src="https://images.picktrip.com/d9dc5a8f32b1ad05/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 88px;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="discord-logo" src="https://images.picktrip.com/bb2eb5b07fb85c63/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 132px;
            " />
          </a>
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <p class="text-wrapper-8" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 12px;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              align-self: stretch;
              font-family: 'Inter-Medium', Helvetica;
              font-weight: 500;
              color: #878787;
              text-align: center;
              letter-spacing: 0;
              line-height: normal;
              width: 100%;
            ">
          © 2025 Picktrip.com, All Rights Reserved.
        </p>
      </td>
    </tr>
    <tr style="height: 100%"></tr>
  </table>
</body>

</html>