<!DOCTYPE html>
<html style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  ">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Join Eric's Adventure - PickTrip</title>
</head>

<body style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      height: 100%;
      background-color: #ffffff;
    ">
  <table border="0" cellpadding="0" cellspacing="0" style="
        border-collapse: separate;
        padding: 45px 32px;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        background-color: #ffffff;
        position: relative;
        width: 100%;
      ">
    <tr>
      <td align="center" style="position: relative; width: 160px; height: 42.3px">
        <div class="frame" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              width: 160px;
              height: 42.3px;
              text-align: left;
            ">
          <a href="https://picktrip.com" target="_blank">
            <img class="picktrip-logo-light" src="https://images.picktrip.com/35127f3f3be60c83/small" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
            " />
          </a>
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative;">
        <table border="0" cellpadding="0" cellspacing="0" style="
              max-width: 900px;
              width: 100%;
              border-collapse: separate;
              position: relative;
            ">
          <tr>
            <td style="
                  background-image: url('https://images.picktrip.com/30042522e5be0069/large');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  height: 400px;
                  width: 100%;
                  border-radius: 36px;
                  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
                  position: relative;
                ">
            </td>
          </tr>
          <tr>
            <td align="center" style="position: relative;">
              <table border="0" cellpadding="0" cellspacing="0" style="
                    margin-top: -280px;
                    background-color: #ffffff;
                    border: 1px solid #b8b8b8;
                    border-radius: 20px;
                    padding: 45px;
                    max-width: 900px;
                    width: 100%;
                    border-collapse: separate;
                    position: relative;
                  ">
                <tr>
                  <td>
                    <h1 style="
                          margin: 0;
                          padding: 0;
                          font-family: 'Inter', Helvetica, Arial, sans-serif;
                          font-weight: 700;
                          font-size: 24px;
                          color: #000000;
                          line-height: normal;
                          text-align: left;
                        ">
                      Join Eric's Adventure!
                    </h1>
                  </td>
                </tr>
                <tr style="height: 21px"></tr>
                <tr>
                  <td>
                    <p style="
                          margin: 0;
                          padding: 0;
                          font-family: 'Inter', Helvetica, Arial, sans-serif;
                          font-weight: 500;
                          font-size: 16px;
                          color: #000000;
                          line-height: 24px;
                          text-align: left;
                        ">
                      Exciting news! You've been invited to join Eric on an unforgettable journey to Tokyo. Check out all the amazing perks waiting for you in the Itinerary Hub.
                    </p>
                  </td>
                </tr>
                <tr style="height: 36px"></tr>
                <tr>
                  <td>
                    <a href="https://picktrip.com" target="_blank" style="text-decoration: none;">
                      <table border="0" cellpadding="0" cellspacing="0" style="
                            background-color: #008bf6;
                            border-radius: 12px;
                            box-shadow: 4px 4px 15px rgba(16, 24, 40, 0.15);
                            width: 100%;
                            border-collapse: separate;
                          ">
                        <tr>
                          <td align="center" style="padding: 16px 28px;">
                            <span style="
                                  font-family: 'Inter', Helvetica, Arial, sans-serif;
                                  font-weight: 500;
                                  font-size: 16px;
                                  color: #ffffff;
                                  line-height: 24px;
                                  white-space: nowrap;
                                ">
                              Explore Your Itinerary
                            </span>
                          </td>
                        </tr>
                      </table>
                    </a>
                  </td>
                </tr>
                <tr style="height: 36px"></tr>
                <tr>
                  <td>
                    <p style="
                          margin: 0;
                          padding: 0;
                          font-family: 'Inter', Helvetica, Arial, sans-serif;
                          font-weight: 500;
                          font-size: 16px;
                          color: #878787;
                          line-height: 24px;
                          text-align: left;
                        ">
                      <span style="text-decoration: underline;">Not sure about this invitation?</span><br><br>
                      Please confirm your interest and reach out to our support team if you have any questions.<br><br>
                      This is an automated message, please do not reply.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center">
        <p style="
              margin: 0;
              padding: 0;
              font-family: 'Inter', Helvetica, Arial, sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: #878787;
              text-align: center;
              line-height: normal;
            ">
          Stay connected!
        </p>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" style="
              width: 164px;
              height: 32px;
              position: relative;
              border-collapse: separate;
            ">
          <tr>
            <td style="position: relative; width: 164px; height: 32px;">
              <a href="https://linkedin.com/company/picktrip" target="_blank" style="position: absolute; left: 0; top: 0;">
                <img src="https://images.picktrip.com/d829fe460175593e/thumbnail" alt="LinkedIn" style="
                      width: 32px;
                      height: 32px;
                      display: block;
                    " />
              </a>
              <a href="https://instagram.com/picktrip" target="_blank" style="position: absolute; left: 44px; top: 0;">
                <img src="https://images.picktrip.com/a3f1122965c9de3f/thumbnail" alt="Instagram" style="
                      width: 32px;
                      height: 32px;
                      display: block;
                    " />
              </a>
              <a href="https://facebook.com/picktrip" target="_blank" style="position: absolute; left: 88px; top: 0;">
                <img src="https://images.picktrip.com/d9dc5a8f32b1ad05/thumbnail" alt="Facebook" style="
                      width: 32px;
                      height: 32px;
                      display: block;
                    " />
              </a>
              <a href="https://discord.gg/picktrip" target="_blank" style="position: absolute; left: 132px; top: 0;">
                <img src="https://images.picktrip.com/bb2eb5b07fb85c63/thumbnail" alt="Discord" style="
                      width: 32px;
                      height: 32px;
                      display: block;
                    " />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center">
        <p style="
              margin: 0;
              padding: 0;
              font-family: 'Inter', Helvetica, Arial, sans-serif;
              font-weight: 500;
              font-size: 12px;
              color: #878787;
              text-align: center;
              line-height: normal;
            ">
          © 2025 Picktrip.com, All Rights Reserved.
        </p>
      </td>
    </tr>
  </table>
</body>

</html>