<!DOCTYPE html>
<html style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  ">

<head>
  <meta charset="utf-8" />
</head>

<body style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    ">
  <table border="0" cellpadding="0" cellspacing="0" class="email-mockup" style="
        border-collapse: separate;
        padding: 45px 32px;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        background-color: #ffffff;
        position: relative;
        width: 100%;
      ">
    <tr>
      <td align="center" style="position: relative; width: 160px; height: 42.3px">
        <div class="frame" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              width: 160px;
              height: 42.3px;
              text-align: left;
            ">
          <a href="https://picktrip.com" target="_blank">
            <img class="picktrip-logo-light" src="https://images.picktrip.com/35127f3f3be60c83/small" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
            " />
          </a>
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <table border="0" cellpadding="0" cellspacing="0" class="div" style="
              border-collapse: separate;
              padding: 45px;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              max-width: 900px;
              position: relative;
              width: 100%;
              background-color: #f5f5f5;
              border-radius: 14px;
              text-align: left;
            ">
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <div class="text-wrapper" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 24px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    margin-top: -1px;
                    font-family: 'Inter-Bold', Helvetica;
                    font-weight: 700;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Verification Successful
              </div>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="p" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-Medium', Helvetica;
                    font-weight: 500;
                    color: #000000;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Congratulations, you have passed the review and are now a Verified customer. For an overview of your
                account benefits, please visit the Verification Centre.
              </p>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <a href="https://picktrip.com" target="_blank" style="
                text-decoration: none;
              ">
                <table border="0" cellpadding="0" cellspacing="0" class="button" style="
                  border-collapse: separate;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  padding: 16px 28px;
                  width: 100%;
                  background-color: #008bf6;
                  border-radius: 12px;
                  box-shadow: 4px 4px 15px #10182826;
                  position: relative;
                  text-align: left;
                  height: 0px;
                ">
                  <tr style="vertical-align: middle">
                    <td style="padding: 0px; width: 50%"></td>
                    <td align="center" style="position: relative; width: fit-content">
                      <div class="save-project" style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 16px;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        position: relative;
                        width: fit-content;
                        margin-top: -1px;
                        font-family: 'Inter-Medium', Helvetica;
                        font-weight: 500;
                        color: #ffffff;
                        letter-spacing: 0;
                        line-height: 24px;
                        white-space: nowrap;
                        text-align: left;
                      ">
                        Visit Your Dashboard
                      </div>
                    </td>
                    <td style="padding: 0px; width: 50%"></td>
                  </tr>
                </table>
              </a>
            </td>
          </tr>
          <tr style="height: 21px"></tr>
          <tr>
            <td align="left" style="position: relative; width: 100%">
              <p class="don-t-recognize-this" style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: relative;
                    align-self: stretch;
                    font-family: 'Inter-Medium', Helvetica;
                    font-weight: 500;
                    color: #878787;
                    letter-spacing: 0;
                    line-height: normal;
                    width: 100%;
                    text-align: left;
                  ">
                Don’t recognize this activity? Please reset your password and contact customer support
                immediately. <br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" /> <br
                  style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />This is an automated message,
                please do not reply.
              </p>
            </td>
          </tr>
          <tr style="height: 100%"></tr>
        </table>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <div class="text-wrapper-2" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 16px;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              align-self: stretch;
              font-family: 'Inter-Medium', Helvetica;
              font-weight: 500;
              color: #878787;
              text-align: center;
              letter-spacing: 0;
              line-height: normal;
              width: 100%;
            ">
          Stay connected!
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 164px; height: 32px">
        <div class="group" style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: relative;
          width: 164px;
          height: 32px;
          text-align: left;
        ">
          <a href="https://picktrip.com" target="_blank">
            <img class="linkedin-logo" src="https://images.picktrip.com/d829fe460175593e/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 0;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="instagram-logo" src="https://images.picktrip.com/a3f1122965c9de3f/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 44px;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="facebook-logo" src="https://images.picktrip.com/d9dc5a8f32b1ad05/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 88px;
            " />
          </a>
          <a href="https://picktrip.com" target="_blank">
            <img class="discord-logo" src="https://images.picktrip.com/bb2eb5b07fb85c63/thumbnail" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 32px;
              height: 32px;
              top: 0;
              left: 132px;
            " />
          </a>
        </div>
      </td>
    </tr>
    <tr style="height: 32px"></tr>
    <tr>
      <td align="center" style="position: relative; width: 100%">
        <p class="text-wrapper-3" style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 12px;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: relative;
              align-self: stretch;
              font-family: 'Inter-Medium', Helvetica;
              font-weight: 500;
              color: #878787;
              text-align: center;
              letter-spacing: 0;
              line-height: normal;
              width: 100%;
            ">
          © 2025 Picktrip.com, All Rights Reserved.
        </p>
      </td>
    </tr>
  </table>
</body>

</html>